* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header h1 {
    text-align: center;
}

footer {
    background-color: rgb(31, 31, 56);
    margin-top: 20px;
    color:aliceblue;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    padding: 2px;
}

header ul {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    width: 500px;
    list-style: none;
}

header li {
    padding: 10px;
    margin-right: 15px;
    border-radius: 5px;
    background-color:  rgb(61, 61, 87);
}

header li:first-child, 
header li:hover {
    background-color: rgb(31, 31, 56);
}

header h2 {
    text-align: center;
    padding-top: 25px;
}

header a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
}

.conteiner {
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 35px;
}

.conteiner p {
    padding: 50px;
}

.boxes {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.boxes p {
    padding: 25px;
}