

.button {
    background-color: #d0c0dd;
    padding: 10px 30px;
    border-radius: 5px;

    text-decoration: none;
    color: #000;
}

.button:hover{
    background-color: #7a5e91;
    font-size: 1.1em;
    transform: scale(1.05);
    color: #fff5f5;
    box-shadow: 3px 5px 5px #888;
    transition: all .2s;
}

@keyframes .card-destaque {
    0% {transform: scale(.9);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

.programacao-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    transition: all .2s;
    border: 1px solid #000;
    box-shadow: 3px 5px 5px #888;
    padding: 10px;
}

.card:hover {
    transform: translateY(10px);
    box-shadow: 3px 5px 5px #505050;
}

main {
    text-align: center;
}

@keyframes h1 {
    opacity: 0;
    transform: translateY ();
}

header li{
    text-decoration: none;
}

header li:hover {
    text-decoration: underline;
}